*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    
}
body{
    /* background: #474747; */
    /* background: #a63aff; */
    background: linear-gradient(360deg, #1cb2dc, #23b4dc);
    

}

:root{
    --bc-pre: #1e1e1e ;
}

/* ________________________ */

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }


}

.imgview{
    view-timeline-name: --image;
    view-timeline-axis:  block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25%  cover 30%;
    animation-fill-mode: both;
}

/* ________________________ */

section{
    display: flex;
    justify-content: center;
    margin:  1rem 0;
}
/* ________________________ */

.present{
    width: 90vw;
    min-height: auto;
    background: var(--bc-pre) ;
    padding-bottom: 20px;

    border-radius: 30px;
    border: 5px solid #6314da;


}

.title{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.title h1{
    font-size: 2.8em;
    color: #fff;
    margin-top: 35px;
}

.title h2{
    font-size: 1.3em;
    color: #ededed;
    margin: 15px;
    line-height: 30px;
}

.title p{
    font-size: 1em;
    color: #ededed;
    line-height: 30px;
}

.title span{
    color: #6e26e9;
}

.btn-1{
    margin: 10px 0 0 0;
    padding: 7px 10px;
    background: #7220ff;
    border-radius: 10px;
    cursor: pointer;
}

.btn-1 a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}


.imgp{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.boder-img1{
    background: #5d26e9;
    height: 308px;
    width: 309px;
    border-radius: 50%;

    display: flex;
    align-items: center; 
    justify-content: center;

   
}
.imgp img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
}
/* ____________________________________ */
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bc-pre) ;
    padding: 40px;
    width: 90vw;
    min-height: auto;

    border-radius: 30px;

    border: 5px solid #6314da;

}
.p-title{
    color: #fff;
    font-size: 2.5em;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 500;
}

.d-con{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.border-card{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5d26e9;
    /* background: linear-gradient(90deg, #ab23b2, #2e96e5);  */
    height: 337px;
    width: 307px;  
    border-radius: 15px;
    margin: 15px;

}
.card{
    background: #f5f5f5;
    height: 330px;
    width: 300px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 0 5px rgb(135, 41, 129),
    0 0 10px rgb(95, 28, 104), 0 0 10px rgb(51, 61, 112),
    0 0 10px rgb(189, 16, 157), 0 0 10px rgb(150, 57, 157); */

}

.img-card{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5d26e9;
    width: 275px;
    height: 207px;
    border-radius: 18px;
    margin-bottom: 10px;

}



.img-card img{
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 18px;

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content h2{
    font-size: 1.3em;
    color: #151515;
    padding-bottom: 10px;
    font-size: 500;
}

.content h3{
    font-size: 1em;
    color: #2d2d2d;
    padding-bottom: 10px;
    font-size: 400;
}

/* _________________________________________ */


/* 
@media(max-width: 797px){

    .d-con{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
    }
} */
